
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Dashboard </title>

</head>
<body>
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <img src="assets/images/avatar/avatar-1.png" alt="">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="my-profile.html"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
						<a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>

	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
        <div class="sidebar-content"> 
        	<div id="sidebar">
			
			<!-- Logo -->
			<div class="logo">
					<h2 class="mb-0"> Student</h2>
			</div>

            <ul class="side-menu">
               

				<!-- Divider-->
                <li class="divider" data-text="STARTER">View</li>

                <li>
                    <a href="/student/time-table">
						<i class='bx bx-columns icon' ></i> 
						  Time Table
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                         <a href="/student/marksheet">
						<i class='bx bx-columns icon' ></i> 
						View-Marks
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                             <a href="#">
						<i class='bx bx-columns icon' ></i> 
						View-Attendance
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>


     
                    

				<!-- Divider-->
             
                
				 <li class="divider" data-text="Atrana">Messages</li>

				<li>
					 <li>
				
					  <a href="#" class="active">
						<i class='bx bxs-dashboard icon' ></i> View Notifications
                        </a>
                      
				
		
				</li>

            
        </div>

       </div> 
	 </div>
	</div><!-- End Sidebar-->




	<div class="sidebar-overlay"></div>


	<!--Content Start-->
	 <div class="content-start transition">
		<div class="container-fluid dashboard">
			<div class="content-header">
				<h1>Attendance</h1>
			
            <table>
        <thead>
          <tr>
     
            <th>Subject</th>
			  <th>Attendance</th>
         
          <tr>  
        </thead>
        <tbody style="color: #5A5C69 !important;">
			{{#each d}}
          <tr>
            <td>{{this.subName}}</td>
			     <td>{{this.attendance}}</td>
				
				  </td>

          
          </tr>
		  {{/each}}
         
        </tbody>
        <!-- footer 
        <tfoot>
          <tr>
            <td colspan=3>Maximum Marks: </td>
            <td colspan=3>Marks Obtained: </td>
            <td colspan=2>Grade: </td>
          </tr>
        </tfoot> footer ends-->
      </table>
      <style>

        body{
  background-color: #c5cae9;
  padding: 25px;
  color: #070e12;


}

.container{
  width: 720px;
  height: 440px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  border-radius: 12px;
  background-color: #070e12;
  font-family: Lato;
    color: #070e12;
}

.container h2{
  text-align: center;
}

table{
  margin: 0 auto;
}

td, th {
  padding: 12px;
  border: 2px dotted;
}

      </style>
			</div>
			
			<div class="row">

		

				
				</div>
			
				

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							
						</div>
						
						  </div>
						</div>
					</div>
				</div>
		   </div>
		</div>
	</div> 


	<!-- Footer -->				
<footer>
		<div class="footer">
			<div class="float-start">
				<p>2023 &copy; St Philomina</p>
			</div>
				<div class="float-end">
				
			</div>
		</div>
	</footer>


	<!-- Preloader -->
	<div class="loader">
		<div class="spinner-border text-light" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	

 </body>
</html>
