
<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Dashboard </title>

</head>
<body>
  
  <!--Topbar -->
  <div class="topbar transition">
	<div class="bars">
		<button type="button" class="btn transition" id="sidebar-toggle">
			<i class="fa fa-bars"></i>
		</button>
	</div>
		<div class="menu">
			{{!-- <ul>
				<li class="nav-item dropdown dropdown-list-toggle">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					   <i class="fa fa-bell size-icon-1"></i><span class="badge bg-danger notif">4</span>
					</a> 				  --}}
					{{!-- <div class="dropdown-menu dropdown-list">
						<div class="dropdown-header">Notifications</div>
						<div class="dropdown-list-content dropdown-list-icons">
							<div class="custome-list-notif"> 
							<a href="#" class="dropdown-item dropdown-item-unread">
								<div class="dropdown-item-icon bg-primary text-white">
								  <i class="fas fa-code"></i>
								</div>
								<div class="dropdown-item-desc">
									The Atrana template has the latest update!
								  <div class="time text-primary">3 Min Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="far fa-user"></i>
								</div>
								<div class="dropdown-item-desc">
								   Sri asks you for friendship!
								  <div class="time">12 Hours Ago</div>
								</div>
							  </a>

							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-danger text-white">
								  <i class="fas fa-check"></i>
								</div>
								<div class="dropdown-item-desc">
									Storage has been cleared, now you can get back to work!
								  <div class="time">20 Hours Ago</div>
								</div>
							  </a>

						  
							  <a href="#" class="dropdown-item">
								<div class="dropdown-item-icon bg-info text-white">
								  <i class="fas fa-bell"></i>
								</div>
								<div class="dropdown-item-desc">
								    Welcome to Atrana Template, I hope you enjoy using this template!
								  <div class="time">Yesterday</div>
								</div>
							  </a>
 
							</div>
						</div>

						<div class="dropdown-footer text-center">
						  <a href="#">View All</a>
						</div>

					  
				  </li> --}}
			 
				  <li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					  <img src="assets/images/avatar/avatar-1.png" alt="">
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="my-profile.html"><i class="fa fa-user size-icon-1"></i> <span>My Profile</span></a>
						<a class="dropdown-item" href="settings.html"><i class="fa fa-cog size-icon-1"></i> <span>Settings</span></a>
						<hr class="dropdown-divider">
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out-alt  size-icon-1"></i> <span>My Profile</span></a>
					</ul>
				  </li>
			</ul>
		</div>
	</div>

	<!--Sidebar-->
	<div class="sidebar transition overlay-scrollbars animate__animated  animate__slideInLeft">
        <div class="sidebar-content"> 
        	<div id="sidebar">
			
			<!-- Logo -->
			<div class="logo">
					<h2 class="mb-0"> Principal</h2>
			</div>

            <ul class="side-menu">
               

				<!-- Divider-->
                <li class="divider" data-text="STARTER">View</li>

                <li>
                    <a href="/principal/view-students">
						<i class='bx bx-columns icon' ></i> 
						View-Students
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>

					 <a href="#">
						<i class='bx bx-columns icon' ></i> 
						View-Teachers
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
						 <a href="#">
						<i class='bx bx-columns icon' ></i> 
						View-Class
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
				
					 <a href="#">
						<i class='bx bx-columns icon' ></i> 
						View-Marks
						<i class='bx bx-chevron-right icon-right' ></i>
					</a>
                   
     
                    

				<!-- Divider-->
                <li class="divider" data-text="Atrana">Add/Edit</li>

				<li>
					 <li>
					<a href="/principal/add-student" class="active">
						<i class='bx bxs-dashboard icon' ></i> Add Student
					</a>
					  <a href="/principal/add-teacher-form" class="active">
						<i class='bx bxs-dashboard icon' ></i> Add Teacher
					</a>
	
						  <a href="#" class="active">
						<i class='bx bxs-dashboard icon' ></i> Create Class
					</a>
		
				</li>
                
				 <li class="divider" data-text="Atrana">Messages</li>

				<li>
					 <li>
					<a href="#" class="active">
						<i class='bx bxs-dashboard icon' ></i> Sent Notifications
					</a>
					  <a href="#" class="active">
						<i class='bx bxs-dashboard icon' ></i> View Notifications
				
		
				</li>

            
        </div>

       </div> 
	 </div>
	</div><!-- End Sidebar-->


	<div class="sidebar-overlay"></div>


	<!--Content Start-->
	 <div class="content-start transition">
		<div class="container-fluid dashboard">
			
		
			

				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4>Teachers</h4>
						</div>
						<div class="card-body"> 
						<div class="table-responsive"> 
						<table class="table table-striped">
							<thead>

							  <tr>
								<th scope="col">Reg NO</th>
								<th scope="col">Subject</th>
								<th scope="col">ph</th>
								<th scope="col">Name</th>
                                	<th scope="col">View Details</th>

								
							  </tr>
							</thead>
							<tbody>
                                {{#each teachers}}
							  <tr>
								<th scope="row">{{this.regNo}}	</th>
								<td>{{this.subjects}}</td>
								<td>{{this.ph}}</td>
                                	<td>{{this.name}}</td>
					
							
								<td><button class="btn btn-primary">View Details</button></td>
							  </tr>
                              {{/each}}

							 
							</tbody>
						  </table>
						  </div>
						</div>
					</div>
				</div>

		   </div>
		</div>
	</div> 


	<!-- Footer -->				
	<footer>
		<div class="footer">
			<div class="float-start">
				<p>2023 &copy; St Philomina</p>
			</div>
				<div class="float-end">
				
			</div>
		</div>
	</footer>


	<!-- Preloader -->
	<div class="loader">
		<div class="spinner-border text-light" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>
	

 </body>
</html>
